useDynLib(robord, .registration=TRUE)
importFrom(Rcpp, evalCpp)
S3method(plot,robpolycor)
S3method(print,robpolycor)
export(polycor)
export(initialize_param)
export(polycor_mle)
export(celltest)
import(ggplot2)
import(mvtnorm)
import(stringr)
